.card {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  .cardFooter {
    text-align: end;
  }
}

.taskCard {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.proposalCard {
  /* Proposal Card */

  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  // position: absolute;
  // width: 394px;
  // height: 230px;
  // left: 446px;
  // top: 349px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.projectCustomerCard {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  // width: 350px;
  // height: 95px;

  .created {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    display: flex;
    align-items: center;

    /* Grey 100 */

    color: #666666;
  }
  .cardFooter {
    text-align: start;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    /* Dark Gray / Dark Gray 2 */

    color: #252c32;
  }
}
.style {
  border: 10px solid sienna;
}

.btnBlockSuccess {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;

  width: 302px;
  height: 44px;

  /* Confirmative 100 */

  background: #3ec300;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 10px;
}

.rated {
  background-color: #1c5a8a !important;
}

.photo {
  width: 34px;
  height: 34px;
  background: url(../../public/favicon.ico);
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 999px;
}
