.box {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.btnBlock {
  /* @uikit-component-button */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;

  // position: static;
  width: 350px;
  height: 56px;
  left: 16px;
  top: 67px;

  /* White */

  background: #ffffff;
  border-radius: 10px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 15px 0px;
}

.search {
  /* Search Header */

  width: 350px;
  height: 32px;
  left: 16px;
  top: 20px;

  background: #ffffff;
  /* Light Gray / Light Gray 2 */

  border: 1px solid #dde2e4;
  box-sizing: border-box;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 15px 0px;
}

.faIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
