.container {
  height: 70vh;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.search {
  /* Black & White / White */

  background: #ffffff;
  /* Light Gray / Light Gray 2 */

  border: 1px solid #dde2e4;
  box-sizing: border-box;
  border-radius: 6px;
}
.faIcon {
  font-family: FontAwesome;
  text-decoration: inherit;
}
