@import "./colors";

/* Backgrounds */
body .bg-primary {
  background-color: $primaryColor !important;
}

body .bg-secondary {
  background-color: $secondaryColor  !important;
}

body .bg-success {
  background-color: $successColor;
}

body .bg-danger {
  background-color: $dangerColor;
}

body .bg-gray {
  background-color: $grayColor;
}


/* Border */
body .bd-primary {
  border-color: $primaryColor !important;
}

body .bd-secondary {
  border-color: $secondaryColor !important;
}

body .bd-success {
  background-color: $successColor;
}

body .bd-danger {
  background-color: $dangerColor;
}

body .bd-gray {
  background-color: $grayColor;
}



