@import "./colors";

/* Backgrounds */
body .bg-primary {
  background-color: $primaryColor !important;
}

body .bg-secondary {
  background-color: $secondaryColor !important;
}

body .bg-success {
  background-color: $successColor !important;
}

body .bg-danger {
  background-color: $dangerColor !important;
}

body .bg-gray {
  background-color: $grayColor !important;
}
body .bg-primary140 {
  background-color: $primaryColor140 !important;
}
body .bg-secondaryGreenColor {
  background-color: $secondaryGreenColor !important;
}
/* Border */
body .bd-primary {
  border-color: $primaryColor !important;
}

body .bd-secondary {
  border-color: $secondaryColor !important;
}

body .bd-success {
  background-color: $successColor !important;
}

body .bd-danger {
  background-color: $dangerColor !important;
}

body .bd-gray {
  background-color: $grayColor !important;
}

body .bd-gray {
  background-color: $secondaryGreenColor !important;
}
body .no-bd {
  border-color: transparent !important;
}
