body .btn {
  width: 161px;
  height: 56px;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  :hover {
    color: #fff;
  }
}

body .btn-secondary {
  width: 161px;
  height: 56px;
  border-radius: 10px;
  border: 0.5px solid;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background-color: transparent !important;
}

body .btn-100 {
  width: 100%;
}

body .btn-small {
  width: 161px;
  height: 56px;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

body .btn-small-secondary {
  width: 161px;
  height: 38px;
  border-radius: 10px;
  border: 0.5px solid;
  font-size: 18px;
  color: rgb(175, 95, 95);
  font-weight: 700;
  background-color: #fff !important;
}
