/* Text Colors */
$textPrimary : #3D3C3C;
$textDisabled : #9E9C9C;
$textConfirmative : #1F6100;
$textDestructive : #FF050D;
$textLink: #2A87CE;
$textGray:  #3D3C3C;

/* App Corlors */
$primaryColor : #607890;
$secondaryColor : #FFE66D;
$secondaryGreenColor : #7E9181;
$successColor : #5FA052;
$dangerColor : #FF6B6B;
$grayColor : #666666;

