/* Text Colors */
$textPrimary: #3d3c3c;
$textDisabled: #9e9c9c;
$textConfirmative: #1f6100;
$textDestructive: #ff050d;
$textLink: #2a87ce;
$textGray: #3d3c3c;

/* App Corlors */
$primaryColor: #6aade1;
$secondaryColor: #ffb20f;
$secondaryGreenColor: #7adfbb;
$successColor: #3ec300;
$dangerColor: #ff5a5f;
$grayColor: #666666;

$primaryColor140: #1c5a8a;

/* App Corlors */
// $primaryColor: #607890;
// $secondaryColor: #ffe66d;
// $secondaryGreenColor: #7e9181;
// $successColor: #5fa052;
// $dangerColor: #ff6b6b;
// $grayColor: #666666;
