/* Text Colors */
$textPrimary : #3D3C3C;
$textDisabled : #9E9C9C;
$textConfirmative : #1F6100;
$textDestructive : #FF050D;
$textLink: #2A87CE;

/* App Corlors */
$primaryColor : #6AADE1;
$secondaryColor : #FFB20F;
$secondaryGreenColor : #7ADFBB;
$successColor : #3EC300;
$dangerColor : #FF5A5F;

