
.landrow{
  display: inline-flex;
  margin: auto;
  width:100%;
  padding-top: 5%;
  background-image: url('../../public/bg-image.jpeg');
  background-size:     cover;                      
  background-repeat:   no-repeat; 
}

.first-half{
  display: table-caption;
  padding: 5%;
  text-align: start;
}

.title-text {
  font-size: 50px;
  
  font-weight:bold;
  
}

.btn-rounded{
  border-radius: 16px;
}

.color-primary {
  background-color : #3c8dbc !important
}

.color-white {
  background-color : #fff !important
}

.text-white{
  color: #fff
}

.text-primary{
  color: #403F4C !important
}

.text-secondary {
  color: #737373 !important; 
}

.second-half {
  display: table-caption;
  padding: 5%;
}

.modal-wrapper {
 
  text-align: start;
  width: 380px;
  height: 450px;
  background-color:#ffff;
  border-radius: 4%;
}

.modal-wrapper-sm {
 
  text-align: start;
  width: 30px;
  height: 200px;
  background-color:#ffff;
  border-radius: 4%;
  border: 0.5px solid  gray;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.modal-title {
  text-align: center;
  FONT-SIZE: 24px;
  font-weight: bold;
  display: block;
  margin: auto;
  padding-top: 6%;
}

.search-area{
  padding: 5%;
  display: block;
}

.start-btn{
  margin-top:15%
}


.title-icon{
  display: block;
  padding-top: 50px;
}
.icon{
  font-size: 45px !important;
  display: block;
  margin: auto;
  /* vertical-align: middle; */
  line-height: inherit;
  margin-top: 28%;
}

.info { 
  margin: 0px 1px 1px 1px;
  height: 74%;
  border-radius: 4%;
}

.backg-secondary {
  background-color: #f3f3f3;
}

.backg-secondary-gradient {
  background: linear-gradient(180deg, #f3f3f3 60%, #ffcc8c 60%);
}

.comments{
  padding-left: 20%;
  padding-right: 20%;
  border: 0  !important
}

.profile{
  width:100%;
  height:auto;
}

.comment-wrapper {
  padding: 6%
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin:  0;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  position: absolute;
}
