.Search {
  border: 1px solid black;
  vertical-align: -webkit-baseline-middle;
}

.faIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}