body .btnSecondary {
  width: 161px;
  height: 56px;
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid;
  font-size: 18px;
  color: #ffb20f;
  font-weight: 700;
}

body .btnSmall {
  width: auto;
  height: 44px;
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid;
  font-size: 18px;
  color: #363740;
  font-weight: 700;
}

.btnSecondary:focus,
.btnSmall:focus {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
