.Search {
  border: 1px solid black;
  vertical-align: -webkit-baseline-middle ;
  width: 100%;
  border-radius: 6px;
}

.faIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}