/* Text Colors */
$textPrimary: #3d3c3c;
$textDisabled: #9e9c9c;
$textConfirmative: #1f6100;
$textDestructive: #ff050d;
$textLink: #2a87ce;
$textGray: #3d3c3c;

/* App Corlors */
$primaryColor: #1c5a8a;
$secondaryColor: #ffc64b;
$secondaryGreenColor: #363740;
$successColor: #2e9100;
$dangerColor: #ff050d;
$grayColor: #666666;

$primaryColor140: #1c5a8a;
