.adminBar {
  background-color: #1C5A8A !important;
  min-height: 100%;
}

.adminButton {
  background-color:inherit;
  border-radius: 6px;
  text-align: center;
  border-style: none;
}

.adminInfo{
  background-color: #fff  !important;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

